<div class="container">
  <div class="card-container d-flex pb-3 pt-3">
    <div class="col-sm-6 col-md-4 col-lg-3 col-12" *ngFor="let item of topAds">
      <div class="card card-body h-100 mb-3">
        <div class="d-flex align-items-center username-container my-2">
          <img class="w-25 rounded-circle me-1" src="{{item.user.profile.img}}" alt="">
          <p class="username-link m-0">
            <a href="#" [routerLink]="['/profile/', item.user.username]"
              *ngIf="item.user.fullname">{{item.user.username}}</a>
          </p>
        </div>
        <img src="{{item.img}}" alt="Photo">
        <h5 class="card-title mt-3 mb-3">{{item.title}}</h5>
        <p class="card-text">
          <span class="badge" [ngClass]="{'badge-info' : item.category == 'NONFOOD', 'badge-success' : item.category == 'FOOD'}">{{item.category | lowercase}}</span>
        </p>
        <p class="card-text" *ngIf="item.expirationDate">
          <small class="text-muted">Expiration date: <br>{{item.expirationDate | date:'fullDate'}}</small>
        </p>
        <p class="card-text">
          <a href="#" class="stretched-link" [routerLink]="['/ads/', item.id]"></a>
      </div>

    </div>

  </div>

</div>

