<!-- ======= goals Section ======= -->
<section id="goals" class="goals section-bg px-5 mb-5">
  <div class="container-fluid">

    <div class="section-title text-center p-3">
      <h2 class="m-5">Our Goals</h2>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 icon-box">
        <div class="icon"><i class="fa-solid fa-seedling"></i></div>
        <h4 class="title"><a href="">Environmental impact</a></h4>
        <p class="description">Food waste contributes to greenhouse gas emissions and other negative environmental impacts. By reducing food waste, we can help mitigate climate change and other environmental problems.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box">
        <div class="icon"><i class="fa-solid fa-wheat-awn-circle-exclamation"></i></div>
        <h4 class="title"><a href="">Hunger and food insecurity</a></h4>
        <p class="description">Millions of people around the world go hungry every day, while large amounts of food are being wasted. An app that helps reduce food waste can also help provide food to those in need.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box">
        <div class="icon"><i class="fa-solid fa-coins"></i></div>
        <h4 class="title"><a href="">Economic benefits</a></h4>
        <p class="description">Reducing food waste can help save money for individuals, businesses, and governments. For example, restaurants can save money on food costs, and governments can reduce the cost of waste disposal.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box">
        <div class="icon"><i class="fa-solid fa-scale-balanced"></i></div>
        <h4 class="title"><a href="">Ethical concerns</a></h4>
        <p class="description">Throwing away food when people are hungry is morally questionable. An app against food waste can help raise awareness of the issue and encourage people to take action.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box">
        <div class="icon"><i class="fa-solid fa-heart-pulse"></i></div>
        <h4 class="title"><a href="">Health benefits</a></h4>
        <p class="description">Food that is thrown away is often still edible, but it may not be as fresh as it once was. By reducing food waste, we can help ensure that people are eating fresher, healthier food.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box">
        <div class="icon"><i class="fa-solid fa-handshake"></i></div>
        <h4 class="title"><a href="">Social responsibility</a></h4>
        <p class="description">As a society, we have a responsibility to reduce waste and protect the planet. An app against food waste can help individuals and businesses take steps towards achieving this goal.</p>
      </div>
    </div>

  </div>
</section><!-- End goals Section -->


<!-- contact section  -->
<section id="contact" class="contact section-bg px-5 mb-5">
  <div class="section-title text-center">
    <h2 class="m">Contact Us</h2>
  </div>
  <div class="container text-center p-3">
    <p>Thanks for visiting our website! If you have any questions, feedback, or just want to say hi, please use the contact form or email/phone number provided below. We're here to listen and respond as quickly as possible.</p>
  </div>
  <div class="container mb-3">
    <div class="row">
      <div class="col-md-6 col-lg-4 text-center">
        <h3 class="mb-3 title">Capstone</h3>
        <section class="mb-4">
          <!-- Facebook -->
          <a
            mdbRipple
            class="btn btn-primary btn-floating m-1"
            style="background-color: #3b5998;"
            href="#!"
            role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>

          <!-- Twitter -->
          <a
            mdbRipple
            class="btn btn-primary btn-floating m-1"
            style="background-color: #55acee;"
            href="#!"
            role="button"
            ><i class="fab fa-twitter"></i
          ></a>
          <!-- Instagram -->
          <a
            mdbRipple
            class="btn btn-primary btn-floating m-1"
            style="background-color: #ac2bac;"
            href="#!"
            role="button"
            ><i class="fab fa-instagram"></i
          ></a>

          <!-- Linkedin -->
          <a
            mdbRipple
            class="btn btn-primary btn-floating m-1"
            style="background-color: #0082ca;"
            href="#!"
            role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </section>
      </div>

      <div class="col-md-6 col-lg-4 address">
        <div class="row align-items-center m-3">
          <div class="col-2 text-center">
            <i class="fa-solid fa-location-dot"></i>
          </div>
          <div class="col">
            <p class="mb-0">Via del Corso, 1 <br>Rome RM 00042</p>
          </div>
        </div>
        <div class="row align-items-center m-3">
          <div class="col-2 text-center">
            <i class="fa-solid fa-envelope"></i>
          </div>
          <div class="col">
            <p>capstone@gmail.com</p>
          </div>
        </div>
        <div class="row align-items-center m-3">
          <div class="col-2 text-center">
            <i class="fa-solid fa-mobile"></i>
          </div>
          <div class="col">
            <p> +39 333 1234567</p>
          </div>
        </div>


      </div>
      <div class="col col-lg-4">
        <form class="px-lg-5">
          <div class="form-group">
            <label for="title">Your Name</label>
            <input type="text" class="form-control" id="title" placeholder="" name="title" ngModel>
          </div>
          <div class="form-group">
            <label for="title">Your Email</label>
            <input type="text" class="form-control" id="title" placeholder="" name="expDate" ngModel>
          </div>
          <div class="form-group">
            <label for="title">Subject</label>
            <input type="text" class="form-control" id="title" placeholder="" name="expDate" ngModel>
          </div>
          <div class="form-group">
            <label for="title">Message</label>
            <textarea type="text" class="form-control" id="title" placeholder="" name="description" ngModel> </textarea>
          </div>
          <div class="text-center">
            <button class="btn btn-primary mt-2 w-100 btn-submit" type="submit">Publish</button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <!-- ======= Map Section ======= -->
  <section class="map">
    <iframe src="https://www.google.com/maps/d/embed?mid=1yeHLpFzGR0M8S0yl9uY17Ks6cm4&hl=en&ehbc=2E312F" width="640" height="480" [frameBorder]="0" style="border:0"></iframe>
  </section><!-- End Map Section -->
</section>
