<!-- ============= DASHBOARD PAGE ============== -->

<div class="container">
<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light p-0">
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of users">
      <td class="p-0">
        <div class="d-flex align-items-center p-0">
          <img
              src="{{item.profile.img}}"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
              />
          <div class="ms-3">
            <p class="fw-bold mb-1"></p>
            <p class="text-muted mb-0">{{item.fullname}}</p>
            <p class="fw-normal mb-1">{{item.username}}</p>
          </div>
        </div>
      </td>
      <td>
        <span class="badge badge-success rounded-pill d-inline" *ngIf="item.active">ACTIVE</span>
        <span class="badge badge-danger rounded-pill d-inline" *ngIf="!item.active">INACTIVE</span>
      </td>
      <td>
        <button type="button" class="btn btn-danger btn-sm btn-rounded" *ngIf="item.active" (click)="switchStatus(item.id)">
          Ban User
        </button>
        <button type="button" class="btn btn-success btn-sm btn-rounded" *ngIf="!item.active" (click)="switchStatus(item.id)">
          Unban User
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>
