h1{
  font-weight: 300;
}

.form-control:focus{
  color: #505a59 !important;
  background-color: #FFF !important;
  border-color: #70b9b0 !important;
  outline: 0 !important;
  box-shadow: none !important;

}

.btn{
  background: #70b9b0;
  border: 0;
  border-radius: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

.btn:hover{
  background: #92cac3;
}

.register{
  height: 60vh;
}
